<mat-card-title>{{recipe.name}}</mat-card-title>

<a *ngIf="myUserData.permissionClass>=3||recipe.author==myUserData.uid" routerLink="/editRecipe/{{recipe.id}}" class="editButton">
    <button mat-icon-button>
        <mat-icon>edit</mat-icon>
    </button>
</a>

Kategorien:
<div *ngFor="let catergory of recipe.categories" style="margin-left: 10px;">{{catergory.name}}</div>

<table *ngIf="recipe.ingredients[0]" mat-table [dataSource]="recipe.ingredients" class="width100"
    style="min-width: 300px;">

    <!-- Name Column -->
    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Zutat </th>
        <td mat-cell *matCellDef="let element">
            {{element.name}}
        </td>
    </ng-container>

    <!-- Amount Column -->
    <ng-container matColumnDef="amount">
        <th mat-header-cell *matHeaderCellDef> Menge </th>
        <td mat-cell *matCellDef="let element">
            <div *ngIf="element.unit!='-'">
                {{element.amount}}
            </div>
        </td>
    </ng-container>

    <!-- Unit Column -->
    <ng-container matColumnDef="unit">
        <th mat-header-cell *matHeaderCellDef> Einheit </th>
        <td mat-cell *matCellDef="let element">
            <div *ngIf="element.unit!='-'">
                {{element.unit}}
            </div>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

</table>


<br>

<div style="margin-bottom: 2rem; white-space:pre-wrap;">{{recipe.text}}</div>