<app-add-category></app-add-category>

<ng-template #recursiveList let-mapArray>
    <div *ngFor="let map of mapArray">
        <mat-list-item>{{map.name}}
            &nbsp;
            <button mat-icon-button (click)="openDialog(map.id)">
                <mat-icon>edit</mat-icon>
            </button>
        </mat-list-item>
        <mat-list style="margin-left:30px; border-left: 2px solid gray; ">
            <ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: map.children }">
            </ng-container>
        </mat-list>
    </div>
</ng-template>

<mat-list>
    <ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: categoriyMap }"></ng-container>
</mat-list>