.width100 {
    width: 100%;
}

ng-container {
    width: 30%;
}

.tableFormField {
    width: 60px;
    margin-bottom: -200px;
}

.wizardButton {
    flex: 1 1 auto;
    position: absolute;
    top: 10px;
    right: 10px;
}

.parsingErrors {
    color: #f44336;
}
