<div style="overflow: auto; max-height: 90vh;">

    <h1 mat-dialog-title>Recipe Wizard</h1>

    <mat-form-field class="width100">
        <mat-label>Original Recipe text</mat-label>
        <textarea matInput name="text" [(ngModel)]="recipe.originalText" cdkTextareaAutosize
            #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="10" cdkAutosizeMaxRows="30"
            (ngModelChange)="onTextChanged()"></textarea>
    </mat-form-field>

    <p *ngIf="parsingErrors.length>0" class="parsingErrors">Parsing Errors:</p>
    <div *ngFor="let parsingError of parsingErrors" class="parsingErrors">
        {{parsingError}}
    </div>
    <br>
    <mat-divider></mat-divider>

    <p>Name: {{recipe.name}}</p>


    <p>Ingredients:</p>
    <table *ngIf="recipe.ingredients[0]" mat-table [dataSource]="recipe.ingredients" class="width100">

        <!-- Name Column -->
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Zutat </th>
            <td mat-cell *matCellDef="let element">
                {{element.name}}
            </td>
        </ng-container>

        <!-- Amount Column -->
        <ng-container matColumnDef="amount">
            <th mat-header-cell *matHeaderCellDef> Menge </th>
            <td mat-cell *matCellDef="let element">
                {{element.amount}}
            </td>
        </ng-container>

        <!-- Unit Column -->
        <ng-container matColumnDef="unit">
            <th mat-header-cell *matHeaderCellDef> Einheit </th>
            <td mat-cell *matCellDef="let element">
                {{element.unit}}
            </td>
        </ng-container>

        <!-- Known Ingredient Column -->
        <ng-container matColumnDef="knownIngredient">
            <th mat-header-cell *matHeaderCellDef> Bekannt </th>
            <td mat-cell *matCellDef="let element" style="align-content: right;">

                <button *ngIf="element.id==''; else knownIngredient" mat-icon-button (click)="addIngredient(element)">
                    <mat-icon>add</mat-icon>
                </button>
                <ng-template #knownIngredient>
                    <mat-icon>check</mat-icon>
                </ng-template>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>


    <p>Recipe Text:</p>
    <div style="margin-bottom: 2rem; white-space:pre-wrap;">{{recipe.text}}</div>

    <div mat-dialog-actions>
        <button mat-button (click)="onNoClick()">Cancel</button>
        <button mat-button [mat-dialog-close]="recipe" cdkFocusInitial>Save</button>
        <!-- [mat-dialog-close]="data.name" -->
    </div>
</div>