<app-header [title]=title (toggleDrawer)="drawer.toggle()"></app-header>

<mat-drawer-container class="container" autosize>
    <mat-drawer #drawer class="sidenav" mode="side">

        <mat-nav-list>
            <!-- <a mat-list-item href="..." *ngFor="let link of links"> {{ link }} </a> -->
            <a *ngIf="myUserData.permissionClass>=3" mat-list-item href="editIngredients">Edit Ingredients</a>
            <a *ngIf="myUserData.permissionClass>=3" mat-list-item href="editCategories">Edit Categories</a>
            <a *ngIf="myUserData.permissionClass>=2" mat-list-item href="editRecipe/new">Add Recipe</a>
        </mat-nav-list>
        <mat-divider></mat-divider>
        <br>
        <app-list-category></app-list-category>


    </mat-drawer>
    <mat-drawer-content class="sidenav-content">
        <mat-card style="overflow: auto; max-width: 800px;">
            <router-outlet></router-outlet>
        </mat-card>
    </mat-drawer-content>

</mat-drawer-container>