.container {
    width: 100%;
    height: 95%;
    
}

.sidenav-content {
    display: flex;
    height: 100%;
    justify-content: center;
}

.sidenav {
    padding: 20px;
}

mat-card{
    margin: 15px;
    border-radius: 10px;
}